.row {
  max-width: 800px;
  display: flex;
  flex-wrap: nowrap;
}

.row > div, input{
  width: calc(100%/10);
  border: none;
  text-align: center;
  padding: 20px 0;
}

.row > div {
  background-color: #45b7c1;
  color: white;
}

.row > input {
  background-color: #7ff0ff;
}

.row > input:focus {
  background-color: red;
}
