.row {
  max-width: 800px;
  display: flex;
  flex-wrap: nowrap;
}

.row > div, input{
  width: calc(100%/8);
  border: none;
  border-radius: 12px;
  text-align: center;
  padding: 20px 0;
}

.row > div {
  background-color: gray;
}

.row > input {
  background-color: lightblue;
}

.row > input:focus {
  background-color: red;
}
